<?xml version="1.0"?>
<model>
  <name>iris_tagged_pld</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_tagged_pld.sdf</sdf>

  <author>
    <name></name>
    <email></email>
  </author>

  <description>
    This is a model of one Iris Quadrotor carrying a payload. The original Iris model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
